# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\nitin\Java Data\LeaveManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
